.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg {
    background-color: rgb(244, 247, 255);
}

.common-width {
    width: 1300px;

}

.section-gap {
    margin-top: 20px;
}
.bg-gradient{
    background: linear-gradient(130.70deg, rgb(55, 82, 253) 0.419%,rgb(108, 127, 250) 52.66%,rgb(155, 168, 248) 99.733%);
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-around;
    gap: 4;
    
}

.size {
    width: 1000px;
    height: 850px;
    background-color: white;
    
}
.activity-design{
    width: 300px;
    height: 850px;
    background-color: white;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.card{
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 3px;
    }

    .p-style{
        /* class="bg-slate-100 ml-6 mr-4 rounded-xl text-sm font-light px-3 py-4" */
        background-color: rgb(244, 247, 255);
        margin-right: 15px;
        margin-left: 15px;
        border-radius: 16px;
        font-weight: 200;
        font-size: medium;
        padding-bottom: 20px;
        padding-left: 15px;

    }
